
.js-select-vehicles{

    img{
        border:4px solid lighten($brother-colour, 30%) !important;
        border-radius:5px;
        transition: 0.6s;
        &:hover{
            border:4px solid $brother-colour !important;
            box-shadow: 2px 5px 10px rgb(177, 177, 177);
        }
    }
    .active{
        border:4px solid $sister-colour !important;
        box-shadow: 2px 5px 10px rgb(177, 177, 177);

        &:hover{
            border:4px solid $sister-colour !important;
        }
    }
}
