//Font sizes in percentage fronm 50% to 220%
.fs-50{
    font-size: 50% !important;
}

.fs-60{
    font-size: 60% !important;
}

.fs-70{
    font-size: 70% !important;
}

.fs-80{
    font-size: 80% !important;
}

.fs-90{
    font-size: 90% !important;
}

.fs-100{
    font-size: 100% !important;
}
.fs-110{
    font-size: 110% !important;
}

.fs-120{
    font-size: 120% !important;
}

.fs-130{
    font-size: 130% !important;
}


.fs-140{
    font-size: 140% !important;
}

.fs-150{
    font-size: 150% !important;
}

.fs-160{
    font-size: 160% !important;
}

.fs-170{
    font-size: 170% !important;
}

.fs-180{
    font-size: 180% !important;
}

.fs-190{
    font-size: 190% !important;
}

.fs-200{
    font-size: 200% !important;
}

.fs-210{
    font-size: 210% !important;
}

.fs-220{
    font-size: 220% !important;
}

.fs-250{
    font-size: 250% !important;
}

.fs-300{
    font-size: 300% !important;
}


.fs-400{
    font-size: 400% !important;
}
