

@media screen and (max-width: 992px){

    .exec-login-panel{
        background-image: url("/assets/images/bg-login-exec.jpg");
        background-position: left 0px bottom -13px;
     }

     .logo-box {
        height: 50vh !important;
    }

}

@media screen and (max-width: 768px){



}
