/*
/#############################################
/ Side nav
/#############################################
*/

.js-logo{
    position: absolute;
    top: 16px;
    left: 16px;
}

.js-btn-nav{
    position: absolute;
    top: 20px;
    left: 330px;
    background-color: $brand-colour;
    width: 60px;
    padding: 5px 8px !important;
    border: none;

    &:hover{
        background-color: $sister-colour;
    }


    .line {
        border-top: 1px solid rgba(#000000, 0.3) !important;
        border-bottom: 1px solid rgba(#ffffff, 0.5) !important;
        margin: 3px 0;
        display: block;
        height: 0;
        background: transparent;
    }
}

.offcanvas {
    background-color: $brand-colour;
    //overflow: scroll;
}

.offcanvas-header {
    background-color: #FFFFFF;
}

.hr-line{
    border-top: 1px solid rgba(#000000, 0.5) !important;
    border-bottom: 1px solid rgba(#ffffff, 0.3) !important;

    display: block;
    height: 0;
    background: transparent;
}

.offcanvas-body {

   .hr-1{
        padding: 5px 20px;
        background: lighten($side-nav-colour, 20%);
    }

    hr{
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-top: 1px solid $side-nav-colour;
        border-bottom: 1px solid lighten($side-nav-colour, 30%);
    }

    header{
        text-transform: uppercase;
        display: block;
        height: 60px;
        z-index: 1000;
        background-color: $brand-colour !important;
    }

    .logo{
        position: absolute;
        top: 10px;
        left: 15px;
        z-index: 1000;

        img{
          width: 50%;

        }

    }

    .header{
       // background: #111;
        margin-top: 10px;
        color:  #FFFFFF;
        padding: 0.6rem 0;
        padding-bottom: 0;
        text-transform: uppercase;
        position: relative;
        font-size: 110%;
        font-weight: bold;
        border-bottom: 1px solid rgba($brother-colour, 0.2);
        margin-bottom:5px;


        .fas{
            font-size: 120%;
            width: auto;
        }


    }

    li{
        padding: 0;

       a{
            text-decoration: none;
            display: block;
            color: #FFFFFF;
            line-height: 36px;

            &:hover{
                color: lighten($brand-colour, 50%);
                text-decoration: none;
                .fa-angle-right{
                    display: block;
                }
            }

            &.active{
                color: lighten($brand-colour, 40%);
                font-weight: bold;
                padding-left: 34px;
                .fa-angle-right{
                    display: block;
                }
            }
       }

       .fa-angle-right{
           float: right;
           margin-top: 10px;
           display: none;
       }

       .fas, .far, .fab, .side-nav-icon {

            width: 30px;
            font-size: 140%;
        }

    }

    .js-close{
        position: absolute;
        top: 20px;
        right: 10px;
        background: $sister-colour;
        color: #FFFFFF;
        padding: 2px 8px;
        line-height: 20px;
        cursor: pointer;
        font-size: 80%;
        border-radius: 0.2rem;
        z-index: 1000;

        &:hover{
            opacity: 0.7;
        }

    }



    .js-dropdown-menu{
        padding-left: 20px !important;
        display: none;
        li {

            a{


                .fa-angle-right{
                    margin-top: 4px;
                }

            }
        }
    }


}


.side-nav-close{
    width: 80px;
    -webkit-transition: left 0.5s;
    transition: left 0.5s;

    span{
        display: none!important;
    }

    .basic-ul{
        text-align: center !important;

        li{
            a{
              padding-left: 0!important;
            }
        }
    }
}

.side-nav-full{
    -webkit-transition: all 0.5s;
    transition: all 0.5s;

}

.js-sidenav-dev-active{

    .js-dropdown-menu{
       // display: block;

    }
}

// .js-side-nav-collapse {
//     padding: 10px 5px;
//     padding-bottom: 5px;
//     width: 48px;
//     background-color: $sister-colour;
//     position: fixed;
//     left: -30px;
//     top: 14px;
//     text-align: center;
//     border-radius: .2rem;
//     border: 1px solid lighten($sister-colour, 15%);
//     cursor: pointer;
//     opacity: 1;
//     display:none;
//     z-index: 10000;
//     animation-delay: 0.3s;
//     -webkit-transition: all 0.5s;
//     transition: all 0.5s;


//     &:hover{
//         opacity: 0.7;
//     }
// }

.main-content-full{
    margin-left: 0px!important;
    padding-left: 80px!important;
}

.main-content-close{
    margin-left: 300px!important;
    padding-left: 0px!important;
}

