.pop-up-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100000;
    padding: 50px 15px 50px 30px;


    .js-execs, .js-date{
        position: fixed;
        top: 100px;
        background-color: #FFF;
        padding: 20px 0px!important;
        box-shadow: 0 0px 100px $other-colour;
        border: 5px solid lighten($side-nav-colour, 50%);
        height: 500px;
        overflow-y: scroll;

        .pop-up-close{
            position: absolute;
            right: 360px;
            top: 18;
            z-index: 200;
            color: #FFFFFF;
            cursor: pointer;
            font-weight: bold;
            width: 25px;
            height: 25px;
            background: $other-colour;
            text-align: center;
            line-height: 25px;
            font-size: 12px;
            border-radius: 5px;

            &:hover{
                background: lighten($other-colour, 40%);
            }
        }

    }

}
