
.alert-brand{
    background-color: lighten($brand-colour, 80%) !important; // #ffe5e0 !important;
    border: 1px solid lighten($brand-colour, 74%);
    margin-top: -1px;
    color: #000000;
}

.alert-sister{
    background-color:lighten($sister-colour, 40%) !important; //#d1e7d9 !important;
    border: 1px solid lighten($sister-colour, 30%);
    margin-top: -1px;
    color: #000000;
}

.alert-brother{
    background-color:lighten($brother-colour, 15%)!important;
    border: 1px solid lighten($brother-colour, 10%);
    margin-top: -1px;
    color: #000000;

    &.lighter{
        background-color:lighten($brother-colour, 18%)!important;
        border: 1px solid lighten($brother-colour, 13%) !important;
    }
}

.alert-other{
    background-color:lighten($other-colour, 50%)!important;
    border: 1px solid lighten($other-colour, 36%);
    margin-top: -1px;
    color: #FFF;
}

.alert-light{
    background: lighten($light, 3%)!important;
    color: #000;

    &.lighter{
        background: lighten($light, 6%)!important;
    }
}

.alert-success{
    background-color:lighten($success, 46%)!important;
    border: 1px solid lighten($success, 28%);
    margin-top: -1px;
    color: #000000;
}

.alert-warning{
    background: lighten($warning, 20%) !important;
    border:1px solid darken(#ffd78c, 10%) !important;
    color: #000;
    margin-top: -1px;

    &.lighter{
        background: lighten($warning, 35%)!important;
        border:1px solid lighten($warning, 25%) !important;
    }
}

.alert-danger{
    background-color:lighten($danger, 50%)!important;
    border: 1px solid lighten($danger, 42%);
    margin-top: -1px;
    color: #000000;

    &.lighter{
        background: lighten($danger, 54%)!important;
        border:1px solid lighten($danger, 48%) !important;
    }
}

.alert-prev {
    background: lighten($danger, 50%)!important;
    color: darken($brand-colour, 20%)!important;

    .fas{
        color: $success!important;
    }
}

.alert-next{
    background: lighten($other-colour, 5%)!important;
    color: #FFF !important;
}

.alert-current{
    background: rgba($brand-colour, 0.1)  !important;
    color: #FFF;
}

.alert-cancelled{
    background: lighten($danger, 55%)!important;
    color: $danger!important;
    border: 1px solid lighten($danger, 40%);

    .fas{
        color: $danger!important;
    }
}

.alert-arrived{
    background: lighten($success, 46%)!important;
    color: $success!important;
    border: 1px solid lighten($success, 36%);

    .fas{
        color: $success!important;
    }
}

.booked-circle{
    border-radius: 50%;
    display: inline-block;
    height: 15px;
    width: 15px;
}



