.shadow {

    box-shadow: 0 0 1.5rem rgba($brand_colour, 0.2) !important;
}

.shadow-sm {
    box-shadow: 0 0 0.4rem rgba($brand_colour, 0.2) !important;
}

.shadow-md {

    box-shadow: 0 0 0.8rem rgba($brand_colour, 0.2)!important;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba($brand_colour, 0.2) !important;
  }
