.space-10{
    width: 100%!important;
    height: 10px !important;
}

.space-20{
    width: 100%!important;
    height: 20px !important;
}

.space-30{
    width: 100%!important;
    height: 30px !important;
}

.space-40{
    width: 100%!important;
    height: 40px !important;
}


.space-50{
    width: 100%!important;
    height: 50px !important;
}

.space-60{
    width: 100%!important;
    height: 60px !important;
}

.space-70{
    width: 100%!important;
    height: 70px !important;
}

.space-80{
    width: 100%!important;
    height: 80px !important;
}

.space-90{
    width: 100%!important;
    height: 90px !important;
}

.space-100{
    width: 100%!important;
    height: 100px !important;
}
