.js-car-interest{

    a{
        border: 1px solid #dee2e6;
        color: $other-colour;
        padding: 0.3rem 1.5rem;
        border-radius: 30px !important;
        line-height: 40px !important;
        margin: 0 0.7rem;
        transition: 0.6s !important;
        width: 100px;

        &:hover{
            background: $light;
            color: #000;
        }
    }

    .active{
        background: $sister-colour;
        color: #FFF;

        &:hover{
            background: $sister-colour;
            color: #FFF;
        }
    }

}



.js-select-vehicles{

        img{
            border:4px solid lighten($brother-colour, 30%) !important;
            border-radius:5px;
            transition: 0.6s;
            &:hover{
                border:4px solid $brother-colour !important;
                box-shadow: 2px 5px 10px rgb(177, 177, 177);
            }
        }
        .active{
            border:4px solid $sister-colour !important;
            box-shadow: 2px 5px 10px rgb(177, 177, 177);

            &:hover{
                border:4px solid $sister-colour !important;
            }
        }
}


.tb-calender{
    margin-top: 10px;
    width: 100%;


    td, th{
        padding: 7px 0;
        height: 30px;
        width: 30px;
        text-align: center;
    }

    .selected-date{
        font-weight:bold;
        border: 1px solid darken($light, 3%);
        background: $light;
        padding: 10px;
        line-height: 10px;
        border-radius: 50%;
        display: inline-block;
        cursor: pointer;

        &:hover{
            background: darken($light, 50%);
            color: #FFF;
        }

    }

    .active{
        background: darken($light, 50%);
        color: #FFF;

        &:hover{
            background: darken($light, 50%);
        }
    }

}

.tr-header{

    background: rgba($other-colour, 0.05);
    text-align: center;
    color: #000;

    th{
        border: 1px solid rgba($other-colour, 0.08);
        padding: 10px 0;

    }

}

.js-time{
    //display: flex;
    //text-align: left;
    //align-items: center;
    //padding: 0 30px;

    div{
      cursor: pointer;
      padding: 30px;
      background: $light;
      color: #000;
      border: 1px solid #FFF;
      text-align: center;

        &:hover{
            background: darken($light, 10%);
        }
    }

    .active {
        background: darken($light, 50%);
        color: #FFF;
        cursor: default;

        &:hover{
            background: darken($light, 50%);
            color: #FFF;
        }


    }

}

/*
.js-exec{
    background: $light;
    cursor: pointer;
    padding-left: 1rem;
    margin-bottom: 5px;

    &:hover{
        background: darken($light, 10%);
    }

}

.js-execs{
    .active{
        background: darken($brand-colour, 0%);
        color: #FFF;
    }

    .booked{

        background: darken($light, 50%);
        color: #FFF;
        cursor: default;
    }
}
*/

/**
Part exchage Styles
*/
.v-reg{
    position:relative;
    background: #ffd307;
    border: 1px solid darken(#ffd307, 5%);
    padding: 0.8rem;
    margin-bottom: 35px;
    border-radius: 10px;

    span{
        position: absolute;
        bottom: 16px;
        left: 10px;
        font-weight: bold;
        transition: 0.8s;
        font-size: 150%;
        text-transform: uppercase;
        color: darken(#ffd307, 20%) !important;
        z-index:0;
    }

    .slide-up{
        bottom: 70px!important;
        left: 0px!important;
        color:#000 !important;
        font-size:100%!important;
        width: 100%;
    }


    input[type=text]{
        border: none;
        background-color: transparent;
        border-radius: 0!important;
        display: block;
        border-bottom:1px solid darken(#ffd307, 20%)!important;
        padding: 5px;
        width: 100%;
        outline: none;
        transition: .2s;
        font-weight: bold;
        font-size: 150%;
        text-transform: uppercase;
        font-family: arial, verdana;
        position: relative;
        z-index: 1;
    }

    input[type=text]:focus  {
        border-bottom:2px solid #000!important;
    }

    input::placeholder {

    }
}


.v-make, .v-mileage{
    position: relative;
    margin-bottom: 2rem;

    span{
        position: absolute;
        bottom: 5px;
        left: 5px;
        font-weight: bold;
        transition: 0.5s;
        z-index: 0;
    }

    input[type=text]{
        border: none;
        border-radius: 0!important;
        background: transparent;
        display: block;
        border-bottom:1px solid darken($light, 20%)!important;
        padding: 5px 0 0 0!important;
        width: 100%;
        outline: none !important;
        transition: .2s;
        font-weight: bold;
        font-size: 100%;
        text-transform: uppercase;
        font-family: arial, verdana;
        box-shadow: none !important;
        line-height: 16px !important;
        position: relative;
        z-index: 1;
    }

    input[type=text]:focus  {
        border-bottom:2px solid #000!important;
    }
}

.slide-up{
    bottom: 30px!important;
    left: 0px!important;
    color:#444;
    font-size:90%;
}

.show-btn{
    display: block !important;
    transition: 0.5s;
}


.no-part-exchange{
    display: flex;
    align-items: center;
    justify-content: center;

    h2{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(243, 243, 243);
        border-radius: 7px;
        border: 5px solid #dfdfdf;
        cursor: pointer;
        padding: 1rem;
        transition: 1s;
        color: #000;
        font-family: arial, verdana;
        font-weight: bold !important;
        //box-shadow: 0 0 30px #939393;

        &:hover{
            background: #FFFFFF;
            border: 5px solid rgba($sister-colour, 0.8);
            color: $sister-colour;
        }

        &.active{
            background: rgba($sister-colour, 0.05);
            border: 5px solid  rgba($sister-colour, 0.8);
            color: $sister-colour;
        }
    }
}

.saved{
    position: absolute;
    z-index: 10;
    top: 60px;
    font-size: 115%;
    font-weight: bold;
}

input:disabled{
    color: #c1c1c1;
}

.selected-time{
    background: #FFF !important;
    border: 1px solid darken($light, 5%) !important;
    font-weight: bold !important;
    font-family: arial, verdana;
    cursor: default !important;
    color: rgb(161, 161, 161) !important;


    i{
        color: darken($light, 30%) !important;
        position:absolute;
        z-index:0;
        font-size:500%;
        top: 7%;
        right: 20%;
        opacity: 0.3;
    }

}


/**
    END Part exchage Styles
*/
