.pop-up-wrapper{
    position: fixed;
    top:0;
    right:0;
    bottom: 0;
    left:0;
    background-color: rgba(#000000, 0.6);
    z-index: 1000000;


    .js-pop-up {
        position: absolute;
        top: 18;
        background-color: #FFF;
        padding: 20px;
        box-shadow: 0 0px 100px $other-colour;
        overflow: hidden scroll;
        height: auto;



        .pop-up-close{
            float:right;
            color: #FFFFFF;
            cursor: pointer;
            font-weight: bold;
            width: 25px;
            height: 25px;
            background: $other-colour;
            text-align: center;
            line-height: 25px;
            font-size: 12px;
            border-radius: 5px;

            &:hover{
                background: lighten($other-colour, 40%);
            }
        }

    }

}
