/*
/#############################################
/ Side nav
/#############################################
*/

.sideNave-overlay{
    background: rgb(43,141,168);
    background: linear-gradient(86deg, rgba(47, 47, 47, 0.7) 100%, rgba(60, 96, 105, 0.2) 50%);

    position: fixed;
    overflow-y: auto;
    -ms-overflow-style: none;
    top: 0;
    left: 0px;
    bottom: 0;
    z-index: 1;
    width: 300px;
}

.sideNav{
    position: fixed;
    overflow-y: auto;
    -ms-overflow-style: none;
    top: 0;
    left: 0px;
    bottom: 0;
    z-index: 999;
    width: 300px;
    background-color: #FFFFFF;
    background-size: cover;
    color: #ffffff;
    -webkit-transition: left 0.5s;
    box-shadow: 0 10px 10px rgb(133, 133, 133) !important;
    transition: left 0.5s;




    .basic-ul{

    }

    hr{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        border-top: 1px solid rgba(0, 0, 0, 0.103);
        border-bottom: 1px solid rgba(255, 255, 255, 0.561);
    }

    ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
        z-index: 1000;
        position: relative;


    }

    header{

        display: block;
        text-align: center;
    }

    .logo{
        position: absolute;
        top: 15px;
        left: 15px;
        z-index: 1000;

        img{
          width: 70%;

        }

    }

    .header{
       // background: #111;
        background: rgba(#0e0e14, 100%);
        padding: 0.6rem 0.5rem;
        text-transform: uppercase;
        position: relative;
        font-size: 120%;
        border-top: 1px solid lighten(#393952, 8%);
        border-bottom: 1px solid lighten(#393952, 8%);


        .fas{
            font-size: 120%;
            width: auto;
        }


    }

    li{
        padding: 0;

        .numb{
            display: inline-block;
            font-style: normal;
            font-weight: bold;
            border: 1px solid $sister-colour;
            color: #fff;
            border-radius: 50%;
            margin-right: 10px;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
        }

       a{

            background: $sister-colour;
            padding-top: 0.2rem;
            display: block;
            color: #fff;
            padding-left: 20px;
            border-bottom: 1px solid lighten($sister-colour, 50%);
            line-height: 70px;
            font-size: 90%;
            font-weight: bold;
            text-decoration: none;

            &:hover{
                background: rgba(lighten($sister-colour, 8%), 0.3) ;
                color: darken($sister-colour, 10%);
                text-decoration: none;
                .fa-angle-right{
                    display: block;
                }
            }

            &.active{
                background: rgba(lighten($sister-colour, 8%), 0.3) ;
                color: darken($sister-colour, 10%);
                text-decoration: none;

                .fa-angle-right{
                    display: block;
                }
            }
       }



       .fa-angle-right{
           float: right;
           margin-top: 34px;
           display: none;
       }

       .fas, .far, .fab, .side-nav-icon {

            width: 30px;
            font-size: 140%;
        }

    }

    .js-close{
        position: absolute;
        top: 20px;
        right: 10px;
        background: #FFF;
        color: $brand-colour;
        padding: 2px 8px;
        line-height: 20px;
        cursor: pointer;
        font-size: 80%;
        border-radius: 0.2rem;
        z-index: 1000;

        &:hover{
            opacity: 0.7;
        }

    }



    .js-dropdown-menu{
        padding-left: 20px !important;
        display: none;
        li {

            a{


                .fa-angle-right{
                    margin-top: 4px;
                }

            }
        }
    }


}


.side-nav-close{
    width: 80px;
    -webkit-transition: left 0.5s;
    transition: left 0.5s;

    span{
        display: none!important;
    }

    .basic-ul{
        text-align: center !important;

        li{
            a{
              padding-left: 0!important;
            }
        }
    }
}

.side-nav-full{
    -webkit-transition: all 0.5s;
    transition: all 0.5s;

}

.js-sidenav-dev-active{

    .js-dropdown-menu{
       // display: block;

    }
}

.js-side-nav-collapse {
    padding: 10px 5px;
    padding-bottom: 5px;
    width: 48px;
    background-color: lighten($other-colour, 80%);
    position: fixed;
    left: 0px !important;
    top: 14px;
    text-align: center;
    border-radius: 0 .5rem .5rem 0;
    border: 1px solid lighten($other-colour, 50%);
    cursor: pointer;
    opacity: 1;
    display:none;
    z-index: 10000;
    animation-delay: 0.3s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;


    &:hover{
        opacity: 0.7;
    }
}

.main-content-full{
    margin-left: 0px!important;
    padding-left: 80px!important;
}

.main-content-close{
    margin-left: 300px!important;
    padding-left: 0px!important;
}

